#besepa_page_content
{
    font-size: 12px;
}
#besepa_page_content .right
{
    text-align: right;
}
#besepa_page_content .center
{
    text-align: center;
}
#besepa_page_content table.besepa_table{
    border: none;
    text-align: left;
}
#besepa_page_content table.besepa_table td,#besepa_page_content table.besepa_table th{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

#besepa_page_content h1
{
    font-size: 28px;
    font-weight: normal;
}
#besepa_page_content h4
{
    font-size: 22px;
    font-weight: normal;
    border-bottom: 1px solid #eee;
}

#besepa_page_content button
{

    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    background: #eee;

}
#besepa_page_content .error{ background: #ff6666; color: #fff; padding: 20px; font-size: 14px; text-align: center; margin-bottom: 20px }
#besepa_page_content label { display: block; }
#besepa_page_content .field input[type=text] { width: 80%; padding: 10px; }
#besepa_page_content .form_container{ padding: 20px; background: #eee; margin-bottom: 20px }
#besepa_page_content .form_container button.cta{ background: #666; color:#fff; margin-bottom: 0 }

#besepa_page_content .besepa_payment{text-align: center}
#besepa_page_content .besepa_payment button.cta{ background: #000; color:#fff; margin: 10px 0; text-transform: uppercase; padding: 10px 20px}
